@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-400: rgb(0, 101, 163);

  --clr-neutral-400: rgb(155, 155, 159);
}

@media (min-width: 28.125em) {
  .grid-cols-85-1 {
    grid-template-columns: 0.85fr 1fr;
  }
}

.hero-shadow-left {
  box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3),
    -69px 70px 0px -53px var(--clr-primary-400);
  -webkit-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3),
    -69px 70px 0px -53px var(--clr-primary-400);
  -moz-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3),
    -69px 70px 0px -53px var(--clr-primary-400);
}

.hero-shadow-right {
  box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3),
    69px 70px 0px -53px var(--clr-neutral-400);
  -webkit-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3),
    69px 70px 0px -53px var(--clr-neutral-400);
  -moz-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3),
    69px 70px 0px -53px var(--clr-neutral-400);
}

.repo-shadow {
  -webkit-box-shadow: 2px 4px 15px rgb(0 0 0 / 25%);
  -moz-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 15px 0px rgb(0 0 0 / 25%);
}
